* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}
body {
    min-height: 100px;
    background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2kjZMMOS8066vY-vcYhRTp2lr4tWJjHZidw&s);
    justify-content: center;
    align-items: center;
}

.Main-Container{
    background-color: rgba(90, 90, 90, 0.22);
    border: 1px solid black;
    height: 1000px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.top-navigation{
    font-family: "Lucida Sans Typewriter";
    float: none;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    margin-top: 0px;
    position: fixed;
    display: flex;
    gap: 35px;
    background: rgba(255, 255, 255, 0.15);
    background-filter: blur(10px);
    padding: 10px;
    width: 65%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}